body {
    font-family: sans-serif;
    margin: 40px;
    user-select: none;
}

h1 {
    text-align: center;
}

svg {
    border: 1px solid #ddd;
}

.bar {
    fill: #1F77B4FF;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

.annotation {
    font-size: 16px;
    fill: #8B0000FF;
    font-weight: bold;
}

.scene-buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

#tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 6px 8px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

select {
    margin-right: 10px;
}

button, select {
    padding: 8px 14px;
    font-size: 14px;
    border: 1px solid #bbb;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.scatterplot-point {
    cursor: pointer;
}

button:hover, select:hover {
    background-color: #f0f0f0;
}

#reset-filters-button {
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
}

#reset-filters-button:hover {
    background-color: #aaaaaa;
}

.warning-text {
    fill: #8B0000FF;
    font-size: 24px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
}

.nav-btn:hover {
    background-color: #f0f0f0;
}


#next-btn {
    background-color: #3f51b5;
    color: white;
}
.slide-number.active {
    font-weight: bold;
    font-size: 24px;
}

.slide-number {
    width: 15px;
    text-align: center;
    padding: 8px 14px;
}

.nav-btn:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #f9f9f9;
    color: #aaa;
    border-color: #ddd;
}
